# Python
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# User data
data/*.pdf

# Temporary Files
diff.txt

# Debug
debug/